/*  your css code here. If applicable */

.main-Container{
 	 width:120%;
     height:50vh;
	 background-color:#f5f5f5;
     display:block;
}
 .subContainers{
	width:50%;
	background-color:white; 
    margin:auto auto; 
	padding:20px
 }
.subContainers span {
	margin-top:10px;
	float:right; 
	font-style:italic;
    
}

.subContainers2{
	 margin-top:10px;
	width:50%;
	background-color:white; 
    margin:auto auto; 
	padding:20px
 }
.subContainers2 span {
	margin-top:10px;
	float:right; 
	font-style:italic;
    
}
