/*  your css code here. If applicable */

.main-Container{
 	 width:120%;
     height:70vh;
	 background-color:#f5f5f5;
     display:block;
}
 .subContainers{
	width:50%;
	background-color:white; 
    margin:auto auto; 
	padding:20px;
	 border:2px solid black; 
 }
.subContainers span {
	margin-top:10px;
	 text-align:right;
	font-style:italic;
}
.margin{
	margin-top:20px
}


